[user]
	name = Yue JIN
	email = yuejin13@qq.com
	signingkey = ~/.ssh/id_ed25519.pub
[push]
	autoSetupRemote = true
[commit]
  	gpgsign = true
[gpg]
  	format = ssh
[http]
	postBuffer = 524288000
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890
